.control-section-online-pharmacy h3.accordion-section-title {
    background: #0cb8b6 !important;
    color: #fff !important;
}
a.button.button-secondary.alignright{
    background: #ffffff;
    color: #444444 !important;
}